<%- include("header") -%>
<h2>About Page</h2>

<p>dlaskdlan ljasdn kjasbd hkasjnd ashbdk asndjk asbndjl askjd nasljdn laskjdn laskmdn klaçslfn lkaçsflj ojalsjf naljbsfn ans</p>
<%- include("footer") -%>